<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">    
                <img src="{{ url_for('static', filename='avatars/' + post.author.image_file) }}" class="img-circle" width="70" height="70" style="border:1px solid black">
            </a>
        </td>
        <td>
        {% set user_link %}
            <a href="{{ url_for('user', username=post.author.username) }}">    
                {{ post.author.username }}
            </a>
        {% endset %}
            {{ _('%(username)s said %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }} 
            <br>
            {{ post.body }}
        </td>
    </tr>
</table>